body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    width: auto;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
}
.menu img {
    width: 100px;
    margin-bottom: 50px;
}

.menu a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-family: 'oswald_regularregular', sans-serif;
}

.menu a:hover {
    background-color: #575757;
    transform: scale(1.1);
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

p {
    font-family: 'source_sans_prolight', sans-serif;
}

h1 {
    font-family: 'oswalddemi-bold', sans-serif;
}

.naslovna {
    font-family: 'oswalddemi-bold', sans-serif;
    color: #39ff14;
    font-size: 31vh;
    margin: 0;
    margin-left: 30vw;
    margin-top: 6vh;
    text-align: center;
}


@font-face {
    font-family: 'source_sans_probold';
    src: url('fonts/sansPro/sourcesanspro-bold-webfont.woff') format('woff2'),
        url('fonts/sansPro/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_probold_italic';
    src: url('fonts/sansPro/sourcesanspro-boldit-webfont.woff2') format('woff2'),
        url('fonts/sansPro/sourcesanspro-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prolight';
    src: url('fonts/sansPro/sourcesanspro-light-webfont.woff2') format('woff2'),
        url('fonts/sansPro/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prolight_italic';
    src: url('fonts/sansPro/sourcesanspro-lightit-webfont.woff2') format('woff2'),
        url('fonts/sansPro/sourcesanspro-lightit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_regularregular';
    src: url('oswald-regular-webfont.woff2') format('woff2'),
        url('oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldbold';
    src: url('fonts/oswald/oswald-bolditalic-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswalddemibold';
    src: url('fonts/oswald/oswald-demibold-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswalddemi-bold';
    src: url('fonts/oswald/oswald-demi-bolditalic-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-demi-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldextralight';
    src: url('fonts/oswald/oswald-extralight-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldextra-light';
    src: url('fonts/oswald/oswald-extra-lightitalic-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-extra-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldheavy';
    src: url('fonts/oswald/oswald-heavy-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldheavy';
    src: url('fonts/oswald/oswald-heavyitalic-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldlight';
    src: url('fonts/oswald/oswald-light-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldlight';
    src: url('fonts/oswald/oswald-lightitalic-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldmedium';
    src: url('fonts/oswald/oswald-medium-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}