body {
    display: flex;
    margin: 0;
    background-color: black;
    background-image: url('images/backgrounds/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'SourceSansPro', sans-serif;
}

body.artistsBody {
    background-image: none;

}

body.artistBody {
    background-image: url('images/backgrounds/background4.jpg') !important;
}

body.eventBody {
    flex-direction: column;
    background-image: url('images/backgrounds/background5.jpg') !important;
}

body.contactBody {
    background-image: url('images/backgrounds/background8.jpg') !important;
}

img.mobLogo {
    display: none;
}

.menu {
    width: auto;
    position: absolute;
    top: 35%;
}

.logo {
    width: 10vw;
    margin-bottom: 10vh;
}

.menu a {
    display: block;
    color: white;
    padding: 30px;
    text-decoration: none;
    font-family: 'Oswald';
    font-size: xx-large;
}

.menu a:hover {
    background-blend-mode: lighten;
    color: #39ff14;
    margin-left: 2vw;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.hamburger-menu {
    display: none;
}

.hamburger-btn {
    color: #39ff14;
    font-size: 60px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1vh;
    right: 1vw;
}

.mobile-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
}

.mobile-nav a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family: 'Oswald';
    font-size: 10vh;
}

.mobile-nav.open {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    font-size: 10em;
}



.mobile-nav a:hover {
    background-blend-mode: lighten;
    color: #39ff14;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

p {
    font-family: 'SourceSansPro', sans-serif;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald';
}

.naslovna {
    font-family: 'Oswald';
    font-size: 30vh;
    font-weight: bolder;
    margin: 0;
    margin-left: 15%;
    line-height: 1;
    background: linear-gradient(to bottom, #39ff14, #FF14BC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.artist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 10%;
    margin-right: 0;
}

.artist-container.close {
    display: none;
}


.artist-card {
    background: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    padding: 15px;
    transition: transform 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;

}

.artist-card a {
    text-decoration: none;
    color: black;
    display: block;
}

.artist-card:hover {
    transform: scale(1.1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, c, #FF14BC);
}

.artist-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.artist-card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.artist-card p {
    font-size: 14px;
    color: #666;
}

.spotlight {
    color: white;
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5vh;
}

.spotlight img {
    width: 70%;
    position: relative;
    bottom: -20vh;

}

#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.5;
}


.spotlight h1 {
    font-size: 10em;
    text-shadow: 3px 2px 2px #39ff14, 0px -1px 3px #FF14BC, -3px 0px 2px rgba(52, 251, 12, 1);
    animation: chromaticMove 4500ms ease infinite, pulse ease 200ms infinite;
    align-self: end;
    margin-bottom: auto;
    position: relative;
    left: 10%;
    z-index: 3;
    top: 0%;
    color: white;
}

@keyframes gradientMove {
    0% {
        background-size: 100% 8px
    }

    50% {
        background-size: 100% 2px
    }

    100% {
        background-size: 100% 4px
    }
}

@keyframes pulse {
    0% {
        opacity: .9;
        transform: skewX(.5deg);
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: .9;
    }

    75% {
        opacity: 1;
        transform: skewX(.5deg);
    }

    100% {
        opacity: .9;
    }
}

@keyframes chromaticMove {
    0% {
        text-shadow: 3px 2px 2px #39ff14, 0px -1px 3px #FF14BC, 0px 0px -2px #AA468E;
    }

    50% {
        text-shadow: 3px 2px 2px #39ff14, 0px -1px 3px #FF14BC, -3px 2px 3px #AA468E;
    }

    100% {
        text-shadow: 3px 2px 2px #39ff14, 0px -1px 3px #FF14BC, 2px -1px 2px #AA468E;
    }
}

.spotlight p {
    font-size: 1.4em;
    line-height: 1.5em;
    width: 40%;
    position: relative;
    left: 30%;
    bottom: 0%;
    color: #AA468E;
    font-family: 'oswald';
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px   ;
}


.artist-spotlight {
    display: flex;
    align-items: start;
    gap: 20px;
    padding: 20px;
    margin-left: 5%;
    margin-top: 2vh;
}

.artist-spotlight img {
    border-radius: 0; 
    width: 220px;
    height: 220px;
    object-fit: cover;
    filter: contrast(1.2) saturate(1.2); 
    align-self: center;
}

.artist-spotlight div {
    max-width: 600px;
}

.artist-spotlight h1 {
    font-family: 'oswald'; 
    font-size: 2.8em;
    color: #39ff14;
    padding: 5px 10px;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

.artist-spotlight p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
    color: white;
    background: #222;
    padding: 10px;
}

.social-icons {
    font-family: 'oswald';
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.social-icons a {
    font-size: 40px;
    padding: 5px;
    color: #39ff14;
    text-decoration: none;
    transition: none;
    align-self: center;
}

.social-icons a:hover {
    background: #39ff14;
    color: black;
}

.social-icons a:visited {
    color: #AA468E;
}
.flex-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}




.contact-container {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.contact-container h2 {
    margin-bottom: 15px;
    color: #39ff14;
    font-size: 32px;
    text-transform: uppercase;
}

.contact-info p {
    margin: 10px 0;
    font-size: 18px;
}

.contact-info a {
    color: #39ff14;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

.contact-info a:hover {
    color: #FF14BC;
    text-decoration: none;
}

.contact-form input,
.contact-form textarea {
    width: 92%;
    padding: 15px;
    margin: 10px 0;
    border: 3px solid #39ff14;
    /* Thick borders */
    font-size: 18px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    box-shadow: inset -3px -3px 0px #39ff14;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background: #111;
    border-color: #FF14BC;
    box-shadow: inset -3px -3px 0px #FF14BC;
}

.contact-form button {
    background-color: #39ff14;
    color: black;
    padding: 15px;
    border: 3px solid black;
    width: 100%;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 5px 5px 0px #FF14BC;
    transition: all 0.1s ease-in-out;
}

.contact-form button:hover {
    background-color: #FF14BC;
    color: white;
    border-color: white;
    box-shadow: 5px 5px 0px white;
}

.error {
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}
.event-schedule {
    max-width: 1200px;
    margin: 0 auto;
}

.event-schedule h2 {
    text-align: center;
    font-size: 5em;
        margin-bottom: 40px;
    text-transform: uppercase;
    color: #39ff14;
    letter-spacing: 3px;
}

.schedule-day {
    margin-bottom: 30px;
}

.schedule-day h3 {
    font-size: 28px;
    color: #39ff14;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.event-item {
display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  margin: 20px;
}

.event-item .time {
    font-size: 22px;
    font-weight: bold;
    color: #FF14BC;
}

.event-item .title {
    font-size: 24px;
    font-weight: bold;
    color: #39ff14;
}

.event-item p {
    font-size: 18px;
    color: #fff;
    line-height: 1.6;
}

.location iframe {
    border-radius: 10px;
    box-shadow: 5px 5px 0px #39ff14;
    margin-top: 40px;
}


@media screen and (max-width: 768px) {
    body {
        display: block;
        background-image: url('images/backgrounds/background.jpg');
        background-size: auto;
        background-position: top;
        background-repeat: repeat;
        font-family: 'SourceSansPro', sans-serif;
    }

    .naslovna {
        display: none;
    }

    .menu {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        padding-top: 10px;
    }

    img.mobLogo {
        display: block;
        height: 8em;
    }

    .menu img {
        width: 5em;
        display: none;
        margin-bottom: 10px;
    }

    .menu a {
        padding: 15px;
        font-size: xx-large;
    }

    .menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .content {
        margin-left: 0;
        padding: 15px;
    }

    .naslovna {
        font-size: 8vw;
        margin-left: 0;
    }

    .artist-container {
        margin: 5%;
    }

    .spotlight {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .spotlight.close {
        display: none;
    }

    .social-icons a {
        font-size: 24px;
    }

    .contact-container {
        width: 90%;
    }
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-regular-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-extralight-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-extra-lightitalic-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-extra-lightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-light-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-lightitalic-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-regular-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-medium-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-semibold-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-bold-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-bolditalic-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-heavy-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-heavy-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('fonts/oswald/oswald-heavyitalic-webfont.woff2') format('woff2'),
        url('fonts/oswald/oswald-heavyitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}